<%= form_for@run do |f| %>

    <div class="field">
      <%= f.text_area :distance, placeholder: "Distance" %>
      <%= f.date_select :date %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
    <span class="picture">

  </span>
<% end %>